:root{
    --clr-primary: #84B7C9;
    --clr-secondary: #47697A;
    --clr-bg: #231F1E;
    --clr-text: #E4ECE7;
    --clr-accent: #EBEEBF;
    --clr-bg-light: #252322;
}

button, .article__submit, .contact__submit{
    display: inline-block;
    transition: transform 0.2s ease;
}

button:hover, .article__submit:hover, .contact__submit:hover{
    transform: scale(1.3)
}


html{
    font-size: 16px;
    background-color: var(--clr-bg);
    color: var(--clr-text); 
}


h1, h2, h3{
    word-break: break-word;
    hyphens: auto;
}

h1{
    font-size: 2.9rem;
}
h2{

    font-size: 2.6rem;
    margin: 0px
}
h3{
    font-size: 1.6rem;
}


.container{
    max-width: 1200px;
    padding: 0 30px 0 30px;
    margin:auto;
}

.header_cont, .footer_cont{
    height: 90px;
}

header, footer{
    background-color: var(--clr-bg-light);
}

footer{
    margin-top: 50px;
}

header{
    margin-bottom: 50px;
}

.logo{
    width: 90px;
}

.header__link{
    padding: 1rem 2rem;

    color: var(--clr-accent);
    font-family: 'Rubik-Italic';
    font-weight: 300;
    text-decoration: solid underline 1px;
}

.hero_section{
    height: 100vh;

    background-image: url('../public/images/hero.png');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
}

.hero_h{
    font-family: 'Belarus';
    letter-spacing: 0.5rem;
    font-size: 2.9rem;
    text-align: center;

    position: absolute;

    transform: translateY(-60px)
}


.info_label{
    display: inline-block;
    background-color: var(--clr-accent);
    color: var(--clr-bg);
    border-radius: 25px;

    font-family: 'SC-Portugal';
    letter-spacing: -2px;
    padding:2px 7px;
}


.info_label_rt{
    margin-left: auto;
}

.info_block{
    width:50%;
}

.video_controls{
    gap: 2rem;
}

.audio_controls{
    gap:2rem;
}

.about_block{
    width: 70%;
}

.articles_h1{
    color: var(--clr-text);
    max-width: 300px;
    padding:5px 40px;

    background-color: var(--clr-accent);
    color: var(--clr-bg);
    border-radius: 25px;;
    margin:auto;
}


.info__img{
    border-radius: 25px;
    object-fit: contain;
}

.autors_link{
    background-color: var(--clr-accent);
    color: var(--clr-bg);
    padding: 0.5rem 2rem;
    border-radius: 25px;
}

.contact__input, .contact__submit{
    background-color: var(--clr-accent);
    border-radius: 25px;
    border-width: 0px;
}

.contact__submit{
    margin-top: 15px;
    height: 2rem;
}

.search_form{
    width: 80%;
}

.article__search{
    width:100%;
    background-color: var(--clr-accent);
    border-width: 0px;

    border-radius: 25px;
    height:2rem;
    padding: 0rem 2rem
}

.article__submit{
    background-color: var(--clr-accent);
    submit{
        
    }
    border-radius: 25px;
    height: 2rem;
    width: 2rem;
    border-width: 0px;
}

/* ДОДЕЛАТЬ */
.article__submit:active{
    transition: translate 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.article{
    flex-direction: column;
}

.articles_text{
    width: 70%;
}

.article__container{
    max-width: 900px;
}
.article_h2{
    max-width: 70%;
    text-align: center;
    width:100%;

    margin: 0px;
}

.hero_h1{
    font-size: 1.5rem;
    margin-top: 5rem;
}

.footer_button{
    height: 2rem;
    border-radius: 25px;
    border-width: 0px;

    background-color: var(--clr-bg);
    color: var(--clr-text);
}

.articles_text{
    max-width: 70%;
}

.burger{
    display:none;
    flex-direction:column;
    justify-content:space-between;
    width:36px;
    height:24px;
    padding:0;
    border:0;
    background:transparent;
    cursor:pointer;
}

.burger span{
    display:block;
    height:3px;
    border-radius:2px;
    background: var(--clr-accent);
}

.burger:focus{
    outline:3px solid rgba(0,123,255,0.25);
    outline-offset:3px;
}

.video_button, .audio_button{
    border-radius: 25px;
    padding:5px;
    border: solid 1px var(--clr-primary);

    background-color: var(--clr-bg-light);
    color: var(--clr-text)
}

#forge_video{
    max-width: 640px;
    width: 100%;
}


/* УТИЛИТАРНЫЕ КЛАССЫ */
.flex {display: flex}

.f-wrap{
    flex-wrap: wrap;
}

.f-col{flex-direction: column;}
.f-row{flex-direction: row;}
.f-rowr{flex-direction: row-reverse;}
.f-colr{flex-direction: column-reverse;}

.ai-center{align-items: center;}
.ai-end{align-items: end;}

.jc-center {justify-content: center;}
.jc-between{justify-content: space-between;}
.jc-end{justify-content: end;}

.ta-right{text-align:right;}
.ta-center{text-align: center;}

.g1 {gap:1rem}
.g2 {gap: 2rem}
.g05{gap: 0.5rem}

.p1{padding:1rem}
.p2{padding:2rem}
.p05{padding:0.5rem}

.f-bel{
    font-family: 'Belarus';
}

.f-rub{
    font-family: 'Rubik';
    font-weight: 100;
}
.f-por{
    font-family: 'SC-Portugal';
}


.l-sp01{
    letter-spacing: 0.1rem;
}
.l-sp05{
    letter-spacing: 0.5rem;
}

.l-sp1{
    letter-spacing: 1rem;
}

/* УТИЛИТАРНЫЕ-АНИМАЦИЯ */

.a-left-w{
    animation: left-whoosh 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.a-right-w{
    animation: right-whoosh 2s cubic-bezier(0.075, 0.82, 0.165, 1) ;
}

.a-appear{
    animation: appear 5s cubic-bezier(0.23, 1, 0.320, 1) ;
}


@font-face {
    font-family: 'Belarus';
    src: url('../public/fonts/Belarus.otf');
}

@font-face {
    font-family: 'Rubik-Italic';
    src: url('../public/fonts/Rubik-Italic-VariableFont_wght.ttf');
}

@font-face{
    font-family: 'Rubik';
    src: url('../public/fonts/Rubik-VariableFont_wght.ttf')
}

@font-face{
    font-family: 'SC-Portugal';
    src: url('../public/fonts/SC-Portugal.ttf')
}


@media (max-width: 750px) {
    .info_block{
        width: 100%;
    }
    .info{
        justify-content: center;
    }
    .info__img{
        width:100%;
        flex: 0 1 350px;
    }
}

@keyframes left-whoosh{
    from {transform: translateX(-1000px)}
    to {transform: translateX(0px)}
}


@keyframes right-whoosh{
    from {transform: translateX(1000px)}
    to {transform: translateX(0px)}
}


@keyframes appear {
    from {opacity:0}
    to {opacity: 1;}
}



@media (max-width: 576px) {
    :root{
        font-size:12px;
    }
}

@media (max-width: 768px) {
    .header_buttons{
        display: none;
    }
    .burger{    
        display: inline-flex;
    }
}

@media (max-width: 420px) {
    :root{
        font-size: 10px;
    }
}



.menu_active{
    display: flex;
    position: absolute;
    right:0px;
    top:90px;
    flex-direction: column;
    background-color: var(--clr-bg-light);
    padding: 20px 50px;
}
