:root{
    --clr-primary: #84B7C9;
    --clr-secondary: #47697A;
    --clr-bg: #231F1E;
    --clr-text: #E4ECE7;
    --clr-accent: #EBEEBF;
}

html{
    font-size: 16px;
    background-color: var(--clr-bg);
    color: var(--clr-text);
}

h1{
    font-size: 2.9rem;
}
h2{
    font-size: 2.6rem;
    margin: 0px
}
h3{
    font-size: 1.6rem;
}


.container{
    max-width: 1200px;
    padding: 0 30px 0 30px;
    margin:auto;
}

.header_cont, .footer_cont{
    height: 90px;
}

header, footer{
    background-color: #252322;
}

footer{
    margin-top: 50px;
}

header{
    margin-bottom: 50px;
}

.logo{
    width: 90px;
}

.header__link{
    padding: 1rem 2rem;

    color: var(--clr-accent);
    font-family: 'Rubik-Italic';
    font-weight: 300;
    text-decoration: solid underline 1px;
}

.hero_section{
    height: 1080px;

    background-image: url('../public/images/hero.png');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
}

.hero_h{
    font-family: 'Belarus';
    letter-spacing: 0.5rem;
    text-align: center;

    position: absolute;

    transform: translateY(-60px)
}


.info_label{
    display: inline-block;
    background-color: var(--clr-accent);
    color: var(--clr-bg);
    border-radius: 25px;

    font-family: 'SC-Portugal';
    letter-spacing: -2px;
    padding:2px 7px;
}


.info_label_rt{
    margin-left: auto;
}

.info_block{
    width:50%;
}

.about_block{
    width: 70%;
}

.info__img{
    border-radius: 25px;
    object-fit: contain;
}

.autors_link{
    background-color: var(--clr-accent);
    color: var(--clr-bg);
    padding: 0.5rem 2rem;
    border-radius: 25px;
}

.contact__input, .contact__submit{
    background-color: var(--clr-accent);
    border-radius: 25px;
    border-width: 0px;
}

.contact__submit{
    margin-top: 15px;
    height: 2rem;
}


.article__search{
    width: 30rem;
    background-color: var(--clr-accent);
    border-width: 0px;

    border-radius: 25px;
    height:2rem;
    padding: 0rem 2rem
}

.article__submit{
    background-color: var(--clr-accent);
    
    border-radius: 25px;
    height: 2rem;
    width: 2rem;
    border-width: 0px;
}

.article__submit:active{
    transition: translate 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}



.article__container{
    max-width: 900px;
}



/* УТИЛИТАРНЫЕ КЛАССЫ */
.flex {display: flex}

.f-wrap{
    flex-wrap: wrap;
}

.f-col{flex-direction: column;}
.f-row{flex-direction: row;}
.f-rowr{flex-direction: row-reverse;}
.f-colr{flex-direction: column-reverse;}

.ai-center{align-items: center;}

.jc-center {justify-content: center;}
.jc-between{justify-content: space-between;}

.ta-right{text-align:right;}
.ta-center{text-align: center;}

.g1 {gap:1rem}
.g2 {gap: 2rem}
.g05{gap: 0.5rem}

.p1{padding:1rem}
.p2{padding:2rem}
.p05{padding:0.5rem}

.f-bel{
    font-family: 'Belarus';
}

.f-rub{
    font-family: 'Rubik';
    font-weight: 100;
}
.f-por{
    font-family: 'SC-Portugal';
}


.l-sp01{
    letter-spacing: 0.1rem;
}
.l-sp05{
    letter-spacing: 0.5rem;
}

.l-sp1{
    letter-spacing: 1rem;
}

/* УТИЛИТАРНЫЕ-АНИМАЦИЯ */

.a-left-w{
    animation: left-whoosh 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.a-right-w{
    animation: right-whoosh 2s cubic-bezier(0.075, 0.82, 0.165, 1) ;
}

.a-appear{
    animation: appear 5s cubic-bezier(0.23, 1, 0.320, 1) ;
}




@font-face {
    font-family: 'Belarus';
    src: url('../public/fonts/Belarus.otf');
}

@font-face {
    font-family: 'Rubik-Italic';
    src: url('../public/fonts/Rubik-Italic-VariableFont_wght.ttf');
}

@font-face{
    font-family: 'Rubik';
    src: url('../public/fonts/Rubik-VariableFont_wght.ttf')
}

@font-face{
    font-family: 'SC-Portugal';
    src: url('../public/fonts/SC-Portugal.ttf')
}


@media (max-width: 750px) {
    .info_block{
        width: 100%;
    }
    .info{
        justify-content: center;
    }
    .info__img{
        width:100%;
        flex: 0 1 350px;
    }
}

@keyframes left-whoosh{
    from {transform: translateX(-1000px)}
    to {transform: translateX(0px)}
}


@keyframes right-whoosh{
    from {transform: translateX(1000px)}
    to {transform: translateX(0px)}
}


@keyframes appear {
    from {opacity:0}
    to {opacity: 1;}
}
